{% extends "base.html" %}
{% block content %}
<section class="card narrow">
  <h2>Register Account</h2>
  
  {% if error %}<p style="color: red;">{{ error }}</p>{% endif %}

  <form method="post" action="/register">
    <label>First Name: <input type="text" name="first_name" required></label>
    <label>Last Name: <input type="text" name="last_name" required></label>
    <label>Email: <input type="email" name="email" required></label>
    <label>Password: <input type="password" name="password" required></label>
    <label>Phone: <input type="text" name="phone"></label>

    <label>I am a:
      <select name="role" id="role-select" required>
        <option value="patient">Patient</option>
        <option value="doctor">Doctor</option>
        <option value="admin">Admin</option>
      </select>
    </label>

    <div id="patient-fields" style="display: block">
      <label>Date of Birth: <input type="date" name="date-of-birth" required></label>
      <label>Address: <input type="text" name="address"></label>
      <label>Gender: <select name="gender">
        <option value="F">F</option>
        <option value="M">M</option>
        <option value="other">-</option>
      </select></label>
      <label>Emergency Contact: <input type="text" name="emergency"></label>
      <label>Insurance ID: <input type="text" name="insurance"></label>
      <label>Blood Type: <input type="text" name="blood-type"></label>
      <label>Allergies: <input type="text" name="alergies"></label>

    </div>

    <div id="doctor-fields" style="display: none">
      <label>Specialization: <input type="text" name="specialization"></label>
      <label>License Number: <input type="text" name="license-number"></label>
    </div>

    <script>
      const roleSelect = document.getElementById('role-select');
      const patientFields = document.getElementById('patient-fields');
      const doctorFields = document.getElementById("doctor-fields")

      roleSelect.addEventListener('change', function() {
      if (this.value == 'patient')
      {
        patientFields.style.display = 'block';
        doctorFields.style.display = 'none';
      }
      else if(this.value == 'doctor')
      {
        doctorFields.style.display = 'block';
        patientFields.style.display = 'none';
      }
      else
      {
        patientFields.style.display = 'none';
        doctorFields.style.display = 'none';
      }

      });
    </script>

    <button type="submit">Create Account</button>
  </form>
</section>
{% endblock %}